Class 12 Date 09.03.2025 1st Ramadan

In [ ]:
# using google colab
#next class me opp parhaengy.
#1. is vs ==
#2. Generators
#3. List Comprehansion

In [ ]:
list1 = [1,2,3,4,5]
list2 = [1,2,3,4,5]

print(list1 == list2) # == list ki value ko compair karta hy
print(list1 is list2) # is list k reference memory location ko check karta hy

True
False

In [ ]:
list1 = "Aneeq"
list2 = "Aneeq"
list3 = "Hello how are you? I am fine."
list4 = "Hello how are you? I am fine."

print(list1 == list2) 
print(list1 is list2) # small string ko same memory location me save karta hy
print(list3 is list4) # long string ko different memory location pe save karta hy

True
True
False

In [5]:
bool1 = True
bool2 = True

print(bool1 is bool2)

True

In [ ]:
list1 = [1,2,3,4,5]  #update by append
list2 = list1
# list1.append(6)


print("list2 is",list2)

list2 is [1, 2, 3, 4, 5, 6]

Muteable : pass by reference
Immuteable: pass by valu

In [ ]:
#Aam Zindgi
sqr_list =[]
def get_sqr_list(n: int):
    for num in range(0,n):
        print("num>>>", num)
        sqr_num = num*num
        print("sqr_num>>>",sqr_num)
        sqr_list.append(sqr_num)
        
get_sqr_list(5)
print(sqr_list)

num>>> 0
sqr_num>>> 0
num>>> 1
sqr_num>>> 1
num>>> 2
sqr_num>>> 4
num>>> 3
sqr_num>>> 9
num>>> 4
sqr_num>>> 16
[0, 1, 4, 9, 16]

In [13]:
sqr_list = [num * num for num in range(5)]
print("sqr_list>>>>",sqr_list)

sqr_list>>>> [0, 1, 4, 9, 16]

In [ ]:
#Generators
# run time pe value ko generate karty hen one by one